.pprogContainer {
    display: grid;
    grid-template-columns: 15vw 60vw 25vw;
    grid-template-rows: 93vh;
    grid-template-areas: 'sidebar main main';
    grid-area: main;
}

.pprogSidebar {

}

.pprogWorkspace {
    grid-area: main;
    background-color: cyan;
}


